GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
WAZUH_API_URL=https://TU_MANAGER:55000
WAZUH_API_USER=wazuh
WAZUH_API_PASS=
WAZUH_VERIFY_SSL=false
WAZUH_SSH_USER=tu_usuario
WAZUH_SSH_HOST=TU_MANAGER
