# Este fichero oculto y de acceso restringido , almacena:
#   - El token de Telegram y el chatID del bot, usados  por el script: /var/ossec/integrations/custom-telegram.sh
#   - La URL y la API de la plataforma MISP utilizadas tanto por el middleware (misp_ingestor.sh) para extraer los eventos
#     como por custom-telegram.sh para consultar los subdominios exactos del scraper ingestor_crt.py
#
# No se muestran los datos reales por OPSEC

TELEGRAM_TOKEN=""
TELEGRAM_CHAT=""
MISP_URL="https://"
MISP_API_KEY=""
