# Este fichero oculto y de acceso restringido, almacena:
#   - Las diferentes APIs utilizadas por los scrapers para el correcto funcionamiento de la búsqueda y extracción del dato
#   - La URL y la API de la plataforma MISP utilizadas tanto por el middleware (misp_ingestor.sh) para extraer los eventos
#     como por custom-telegram.sh para consultar los subdominios exactos del scraper ingestor_crt.py
#
# No se muestran los datos reales por OPSEC.

MISP_URL="https://localhost"
MISP_API_KEY=""
SHODAN_API=""
OTX_API=""
INCIDENTBUDDY_API=""
VT_API_KEY=""
